.nav-item {
	margin: 0 20px;
	font-size: 0.8rem;
}

.login {
	background-color: transparent;
	border-radius: 28px;
	display: inline-block;
	cursor: pointer;
	font-family: Arial;
	color: #ffffff;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.12);
	padding: 5px 13px;
	text-transform: uppercase;
	text-decoration: none;
}

.text-black {
	color: black !important;
	font-weight: 700;
}
